<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager App</title>
    <!-- Bootstrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <!---tostr css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
        integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark container-nav">
        <a class="navbar-brand" href="#">Task App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user.name}}
                        <img src="/images/{{user.profileImage}}" alt="Profile Image" class="profile-image">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="/profile">Profile Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/">Logout</a>
                    </div>
                </li>

            </ul>

        </div>
    </nav>
    <div class="main">
        <div class="header profile">
            <h1>Profile Settings</h1>
        </div>
        <form class="profile-form" id="update-form" enctype="multipart/form-data">
            <div class="form-group ">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{user.name}}">

            </div>


            <div class="form-group">
                <label for="profileImage">Profile image</label>
                <input type="file" class="form-control-file" id="profileImage" name="profileImage">
            </div>

            <button type="submit" class="btn btn-primary" id="update-btn">Save</button>
        </form>
    </div>








    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/app.js"></script>

    <script>
        const form = $("#update-form");

        form.validate({
            rules: {
                name: {
                    required: true
                }
            }
        })

        form.on("submit", (event) => {
            event.preventDefault()

            if (form.valid()) {
                update()
            }
        })

        const update = async () => {
            showLoader("#update-btn", { content: generalLoader })
            const files = document.querySelector("#profileImage").files;

            var formData = new FormData();
            formData.append("name", $("#name").val())

            console.log(files)

            if (files.length > 0) {

                formData.append("profileImage", files[0])
            }
            try {
                const response = await fetch("/api/users", {
                    method: "PATCH",
                    body: formData
                });
                const user = await response.json();

                if (user.error) {
                    return showError({ content: user.error })
                }
                showSuccess({ content: "Profile updated successfully" })
            } catch (error) {
                showError({ content: "Something went wrong. Unable to update profile" })
            } finally {
                hideLoader("#update-btn", { content: "Save" })
            }




        }
    </script>
</body>

</html>